@use '@/styles/mixins.scss' as mixins;

.page-section {
  margin: 0 1rem;
}

.page-title {
  @include mixins.page-title;
}

.tags-container {
  margin: var(--margin-item-mobile) auto;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  min-height: 70vh;
  margin: 0 1rem;
}

@media (width > 810px) {
  .projects-container {
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .project-card {
    width: 45%;
  }
}

@media (width > 1200px) {
  .project-card {
    width: 28%;
  }
}
