.project-card {
  position: relative;
  height: 100vh;
  padding: 1rem;
}

// .info-card {
//   margin: 1rem;
// }

.project-link {
  z-index: 5;
  display: block;
  height: 100%;
}

.project-image {
  z-index: -1;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}
