.project-card {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.info-card {
  margin: 1rem;
}

.project-link {
  z-index: 5;
  display: block;
  height: 100%;
}

.project-image {
  z-index: -1;
  object-fit: cover;
  border-radius: var(--border-radius-small);
}
