.project-card {
  position: relative;

  height: 100vh;
  margin: var(--margin-item-small) auto;
  padding: 1rem;

  filter: drop-shadow(5px 5px 10px #0000009c);
}

.info-card {
  position: relative;
  z-index: 10;
}

.project-link {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.project-image {
  object-fit: cover;
  border-radius: var(--border-radius-small);
}

@media (width > 810px) {
  .project-card {
    transition: scale 1s ease;

    &::after {
      pointer-events: none;
      content: 'See more...';

      position: absolute;
      top: 0;
      left: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      font-size: 3rem;
      color: white;

      opacity: 0;
      background-color: rgb(0 0 0 / 50%);
      border-radius: var(--border-radius-small);

      transition: 1s ease;
    }

    &:hover {
      scale: 1.03;

      &::after {
        opacity: 1;
      }
    }
  }
}
