@use '../../styles/mixins.scss' as mixins;

.motto-section {
  @include mixins.section;

  p {
    margin: 1rem 0;
    text-align: center;
  }
}

.addnotation {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;

  .image {
    object-fit: cover;
  }
}

.about {
  p {
    text-align: justify;
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 4rem;
  margin: auto;

  color: var(--secondary-800);
  text-decoration: none;

  background-color: var(--primary-200);
}

@media (width > 800px) {
  .addnotation {
    flex-direction: row-reverse;
    align-items: center;
  }

  .image-container {
    min-width: 50%;
    max-height: 700px;
  }

  .about {
    padding: 1rem;
    font-size: 1rem;
  }
}

@media (width > 1200px) {
  .about {
    font-size: 1.5rem;
  }
}
