@use '@/styles/mixins.scss' as mixins;

.contact-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;
  padding: 1rem;

  background-color: var(--primary-200);
  border-radius: var(--border-radius-small);

  button {
    @include mixins.button;
  }
}

@media (width > 810px) {
  .contact-form {
    font-size: 1rem;
  }
}
