@use '@/styles/mixins.scss' as mixins;

.contact-form {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 500px;
  padding: 1rem;

  background-color: var(--primary-200);
  border-radius: var(--border-radius-image);

  button {
    @include mixins.button;
  }
}

.server-response {
  margin: var(--margin-item-mobile) auto;
}
