.credits {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  text-align: center;
}

@media (width > 810px) {
  .credits {
    align-items: end;
    align-self: stretch;
    justify-content: space-between;
    text-align: right;
  }
}
