@use '@/styles/mixins.scss' as mixins;

.about-section {
  @include mixins.section;
}

.info-section {
  display: flex;
  flex-direction: column-reverse;
}

.first-image-container {
  position: relative;
  aspect-ratio: 1 / 1.5;
}

.second-image-container {
  position: relative;
  aspect-ratio: 1 / 1;
  margin: var(--margin-item-mobile) auto;
}

@media (width > 810px) {
  .info-section {
    overflow: hidden;
    display: block;

    p {
      margin: initial;
    }
  }

  .first-image-container {
    float: left;
    width: 50%;
    margin-right: var(--margin-item-mobile);
  }

  .second-image-container {
    aspect-ratio: 16 / 9;
  }
}

@media (width > 1200px) {
  .first-image-container {
    aspect-ratio: 16 / 9;
  }
}
