@use '@/styles/mixins.scss' as mixins;

.about-section {
  @include mixins.section;
}

.info-section {
  display: flex;
  flex-direction: column-reverse;

  p {
    margin: 1rem 0;
  }
}

.first-image-container {
  position: relative;
  aspect-ratio: 1 / 1.5;
}

.second-image-container {
  position: relative;
  aspect-ratio: 1 / 1;
  margin: 3rem 0;
}

.image {
  object-fit: cover;
}

@media (width > 810px) {
  .info-section {
    overflow: hidden;
    display: block;

    p {
      margin: initial;
      font-size: 2rem;
    }
  }

  .first-image-container {
    float: left;
    width: 50%;
    margin: 0 1rem 1rem 0;
  }

  .second-image-container {
    width: 100%;
    height: 100vh;
  }
}

@media (width > 1200px) {
  .info-section {
    p {
      font-size: 2.5rem;
    }
  }

  .first-image-container {
    aspect-ratio: 16 / 9;
    margin: 0 2rem 2rem 0;
  }
}
