@use '@/styles/mixins.scss' as mixins;

.contact-section {
  @include mixins.section;

  scroll-margin-top: var(--navbar-height);
}

.image-container {
  position: relative;
  aspect-ratio: 1 / 1;
  margin: var(--margin-item-mobile) auto;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width > 810px) {
  .contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--margin-item-mobile);
  }

  .description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
  }

  .image-container {
    width: 100%;
  }

  .form-wrapper {
    width: 60%;
  }
}

@media (width > 1200px) {
  .description-wrapper {
    width: 50%;
  }

  .form-wrapper {
    width: 50%;
  }

  .image-container {
    aspect-ratio: 16 / 9;
  }
}
