@use '@/styles/mixins.scss' as mixins;

.contact-section {
  @include mixins.section;

  h2 {
    font-size: 3rem;
    text-align: center;
  }

  p {
    margin: var(--margin-item-small) auto;
    font-size: 1.5rem;
  }
}

.image-container {
  position: relative;
  aspect-ratio: 1 / 1;
  margin: var(--margin-item-small) auto;
}

.image {
  object-fit: cover;
  border-radius: var(--border-radius-small);
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width > 810px) {
  .contact-section {
    h2 {
      margin-bottom: 3rem;
      text-align: left;
    }
  }

  .contact-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--margin-item-small);
    align-items: center;
  }

  .description-wrapper {
    width: 50%;
  }

  .form-wrapper {
    width: 50%;
  }
}

@media (width > 1200px) {
  .image-container {
    aspect-ratio: 16 / 9;
  }
}
