@use '@/styles/mixins.scss' as mixins;

.projects-section {
  @include mixins.section;

  &--empty {
    display: none;
  }
}

.project-card {
  margin: var(--margin-item-mobile) auto;
}

@media (width > 810px) {
  .project-card {
    margin: 4rem auto;
  }
}

@media (width > 1200px) {
  .project-card {
    margin: 6rem auto;
  }
}
