:root {
  --white-500: #fff;
  --white-600: #e8e8e8;
  --white-700: #b5b5b5;
  --white-800: #8c8c8c;
  --white-900: #6b6b6b;
  --black-500: #000;
  --black-400: #333;
  --black-300: #545454;
  --black-200: #8a8a8a;
  --black-100: #b0b0b0;
  --secondary-50: #f3f2ef;
  --secondary-100: #d9d8cd;
  --secondary-200: #c6c5b5;
  --secondary-300: #acaa93;
  --secondaty-400: #9c997e;
  --secondary-500: #83805e;
  --secondary-600: #777456;
  --secondary-700: #5d5b43;
  --secondary-800: #484636;
  --secondary-900: #373627;
  --primary-50: #f7f6f5;
  --primary-100: #e7e4df;
  --primary-200: #dcd7cf;
  --primary-300: #cbc4b9;
  --primary-400: #c1b9ac;
  --primary-500: #b2a797;
  --primary-600: #a29889;
  --primary-700: #7e776b;
  --primary-800: #625c53;
  --primary-900: #4b464f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
