@mixin section {
  min-height: 100vh;
  padding: 2rem 1rem;
  color: var(--secondary-700);
  border: 1px solid red;

  @media (width > 810px) {
    min-height: 50vh;
    padding: 4rem 2rem;
  }

  @media (width > 1200px) {
    min-height: 100vh;
    padding: 6rem 4rem;
  }
}

@mixin button {
  width: 100%;
  width: 70%;
  height: 4rem;
  margin: auto;
}

@mixin link-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 4rem;

  color: var(--secondary-800);
  text-decoration: none;

  background-color: var(--primary-200);
  border-radius: var(--border-radius-small);
  box-shadow: 5px 5px 12px 0 rgb(66 68 90 / 100%);

  transition: scale 0.1s ease;

  &:hover {
    scale: 1.05;
  }

  @media (width > 810px) {
    font-size: 1.5rem;
  }
}
