@mixin section {
  margin: 1rem;
  color: var(--secondary-700);

  h2 {
    @include section-heading;
  }

  @media (width > 800px) {
    padding: 2rem;
    font-size: 1.5rem;
  }

  @media (width > 1200px) {
    max-width: 1500px;
    margin: auto;
    padding: 3rem;
  }
}

@mixin section-heading {
  margin: 1rem 0;
  font-size: 2rem;
  letter-spacing: 0.5rem;

  @media (width > 1200px) {
    font-size: 3rem;
    letter-spacing: 1rem;
  }
}

@mixin button {
  width: 100%;
  width: 70%;
  height: 4rem;
  margin: auto;
}

@mixin link-button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70%;
  height: 4rem;
  margin: auto;

  color: var(--secondary-800);
  text-decoration: none;

  background-color: var(--primary-200);
}
