@mixin section {
  min-height: 100vh;
  margin: 1rem;
  border: 1px solid red;

  h1,
  h2,
  h3 {
    @include section-title;
  }

  p {
    @include body-text;
  }

  img {
    @include image;
  }

  @media (width > 810px) {
    min-height: 50vh;
    margin: 2rem;
  }

  @media (width > 1200px) {
    min-height: 80vh;
    margin: 4rem;
  }
}

@mixin page-title {
  margin-top: calc(var(--navbar-height) + 2rem);
  margin-bottom: 2rem;
  font-size: var(--text-page-title-mobile);
  text-align: center;

  @media (width > 810px) {
    font-size: var(--text-page-title-tablet);
  }

  @media (width > 1200px) {
    font-size: var(--text-page-title-desktop);
  }
}

@mixin section-title {
  margin: var(--margin-item-mobile) auto;
  font-size: var(--text-section-title-mobile);
  text-align: center;

  @media (width > 810px) {
    font-size: var(--text-section-title-tablet);
  }

  @media (width > 1200px) {
    font-size: var(--text-section-title-desktop);
  }
}

@mixin body-text {
  margin: var(--margin-item-mobile) auto;
  font-size: var(--text-body-mobile);

  @media (width > 810px) {
    font-size: var(--text-body-tablet);
  }

  @media (width > 1200px) {
    font-size: var(--text-body-desktop);
  }
}

@mixin image {
  object-fit: cover;
  border-radius: var(--border-radius-image);
}

@mixin button {
  width: 80%;
  height: 4rem;
  margin: var(--margin-item-mobile) auto;

  color: var(--black-500);

  background-color: var(--primary-200);
  filter: drop-shadow(var(--drop-shadow));
  border: none;
  border-radius: var(--border-radius-button);

  transition: scale 0.5s ease;

  &:hover {
    scale: 1.05;
  }

  @media (width > 810px) {
    width: 250px;
  }
}

@mixin link-button {
  @include button;

  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
