@use '@/components/ui/CircleLogo/mixins.scss' as Logo;

.footer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem 0;

  &::before {
    content: '';

    top: 0;

    width: 80%;
    height: 5px;
    margin: 1rem auto;

    background-color: var(--primary-500);
  }
}

.socials {
  &::after {
    content: '';

    width: 80%;
    height: 5px;
    margin: 1rem auto;

    background-color: var(--primary-500);
  }
}

.credits {
  &::before {
    content: '';

    width: 80%;
    height: 5px;
    margin: 1rem auto;

    background-color: var(--primary-500);
  }
}

.logo {
  @include Logo.configure(
    $logo-width: 200px,
    $text-total-characters: 15,
    $character-rotation-angle: 90deg,
    $font-size: 1rem,
    $text-spread-angle: 200deg,
    $border-size: 2px,
    $border-color: var(--secondary-500),
    $spin: true,
    $spin-duration: 30s
  );

  user-select: none;
}

@media (width > 810px) {
  .footer {
    flex-direction: row;
    border: 1px solid red;
  }
}
