@use '@/styles/mixins.scss' as mixins;

.motto-section {
  @include mixins.section;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }
}

.title-container {
  .title {
    overflow: hidden;

    height: 0;
    margin: var(--margin-item-small) auto;

    opacity: 0;

    transition: opacity 2s ease-in-out;

    &--active {
      height: auto;
      opacity: 1;
    }
  }
}

.image-container {
  position: relative;
  aspect-ratio: 1 / 1;
}

.about-button {
  @include mixins.link-button;

  margin: 0 auto;
}

@media (width > 810px) {
  .motto-section {
    flex-direction: row;
    gap: 2rem;

    p {
      text-align: left;
    }
  }

  .first-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-self: stretch;
    justify-content: space-evenly;

    width: 50%;
  }

  .second-wrapper {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-evenly;

    width: 50%;
  }

  .image-container {
    aspect-ratio: auto 16 / 11;
  }
}

@media (width > 1200px) {
  .motto-section {
    p {
      font-size: 2.5rem;
    }
  }

  .first-wrapper {
    width: 40%;
  }

  .second-wrapper {
    width: 60%;
  }

  .about-button {
    width: 50%;
  }

  .title-container {
    .title {
      font-size: 4rem;
    }
  }

  .image-container {
    aspect-ratio: 16 / 9;

    .image {
      border-radius: var(--border-radius-large);
    }
  }
}
