@use '@/styles/mixins.scss' as mixins;

.motto-section {
  @include mixins.section;

  display: flex;
  flex-direction: column;

  p {
    margin: 2rem auto;
    text-align: center;
  }
}

.title-container {
  .title {
    overflow: hidden;

    height: 0;

    text-align: center;

    opacity: 0;

    transition: opacity 2s ease-in-out;

    &--active {
      height: auto;
      opacity: 1;
    }
  }
}

.image-container {
  position: relative;
  aspect-ratio: 1 / 1;

  .image {
    object-fit: cover;
  }
}

.about-button {
  @include mixins.link-button;

  margin: 2rem auto 0;
}

@media (width > 810px) {
  .motto-section {
    flex-direction: row;

    p {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  .first-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    width: 50%;
  }

  .second-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .image-container {
    aspect-ratio: auto 16 / 9;
  }
}

@media (width > 1200px) {
  .motto-section {
    p {
      font-size: 2rem;
    }
  }
}
