@use '@/styles/mixins.scss' as mixins;

.motto-section {
  @include mixins.section;

  display: flex;
  flex-direction: column;

  p {
    margin: 2rem auto;
    text-align: center;
  }

  .title-container {
    text-align: center;

    .title {
      overflow: hidden;
      height: 0;
      opacity: 0;
      transition: opacity 2s ease-in-out;

      &--active {
        height: auto;
        opacity: 1;
      }
    }
  }

  .image-container {
    position: relative;
    flex-grow: 1;
    aspect-ratio: auto 1 / 1;
    width: 100%;

    .image {
      object-fit: cover;
    }
  }

  .about-button {
    @include mixins.link-button;

    margin: 2rem auto 0;
  }
}

@media (width > 810px) {
  .motto-section {
    flex-direction: row;
    gap: 1.5rem;

    p {
      font-size: 1.5rem;
      text-align: left;
    }
  }

  .first-wrapper {
    display: flex;
    flex-direction: column-reverse;
    flex-shrink: 2;
    justify-content: space-around;
  }

  .second-wrapper {
    display: flex;
    flex-direction: column;
    flex-shrink: 3;
    justify-content: space-between;

    .image-container {
      aspect-ratio: auto 16 / 9;
    }
  }
}

@media (width > 1200px) {
  .motto-section {
    gap: 4rem;

    p {
      font-size: 2rem;
    }
  }
}
