@use '@/styles/mixins.scss' as mixins;

.motto-section {
  @include mixins.section;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    text-align: center;
  }
}

.first-wrapper {
  align-self: stretch;
}

.second-wrapper {
  align-self: stretch;
}

.title-container {
  .title {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: opacity 2s ease-in-out;

    &--active {
      height: auto;
      opacity: 1;
    }
  }
}

.image-container {
  position: relative;
  aspect-ratio: 1 / 1;
}

.about-button {
  @include mixins.link-button;
}

@media (width > 810px) {
  .motto-section {
    flex-direction: row;
    gap: var(--margin-item-mobile);

    p {
      text-align: left;
    }
  }

  .first-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
  }

  .second-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
  }

  .image-container {
    aspect-ratio: auto 4 / 3;
  }
}

@media (width > 1200px) {
  .first-wrapper {
    width: 40%;
  }

  .second-wrapper {
    width: 60%;
  }

  .image-container {
    aspect-ratio: 16 / 9;
  }
}
