.project-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1rem;

  color: var(--white-500);

  background-color: rgb(0 0 0 / 50%);
  border-radius: var(--border-radius-image);

  h3 {
    margin: var(--margin-item-mobile) auto;
  }

  p {
    margin: var(--margin-item-mobile) auto;
  }
}
