.item {
  display: flex;
  gap: 1rem;
  align-items: center;

  margin: 0.5rem 0;

  color: var(--black-500);
  text-decoration: none;

  transition: scale 0.2s ease-in-out;

  &:hover {
    scale: 1.1;
  }
}
