.item {
  position: relative;

  display: flex;
  gap: 1rem;
  align-items: center;

  color: var(--black-500);
  text-decoration: none;

  &::after {
    content: '';

    position: absolute;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);

    width: 100%;
    height: 3px;

    background-color: var(--secondary-500);

    transition: 0.3s ease;
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }
}

@media (width > 810px) {
  .item {
    gap: 0.5rem;
    font-size: 2rem;
  }
}

@media (width > 1200px) {
  .item {
    font-size: 1.5rem;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
