@use '@/components/ui/CircleLogo/mixins.scss' as Logo;
@use '@/styles/mixins.scss' as mixins;

.breaker {
  @include mixins.section;

  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';

    position: absolute;
    top: 15%;
    rotate: 90deg;

    width: 20vh;
    height: 5px;

    background-color: var(--primary-300);
  }

  &::after {
    content: '';

    position: absolute;
    bottom: 15%;
    rotate: 90deg;

    width: 20vh;
    height: 5px;

    background-color: var(--primary-300);
  }
}

.logo {
  @include Logo.configure(
    $logo-width: 250px,
    $text-total-characters: 15,
    $character-rotation-angle: 90deg,
    $font-size: 1.5rem,
    $text-spread-angle: 200deg,
    $border-size: 10px,
    $spin: true,
    $border-color: var(--secondary-500)
  );

  user-select: none;
}

@media (width > 810px) {
  .breaker {
    &::before {
      width: 0;
    }

    &::after {
      width: 0;
    }
  }

  .logo {
    @include Logo.configure(
      $logo-width: 550px,
      $text-total-characters: 15,
      $character-rotation-angle: 90deg,
      $font-size: 3rem,
      $text-spread-angle: 200deg,
      $border-size: 20px,
      $spin: true,
      $border-color: var(--secondary-500)
    );
  }
}

@media (width > 1200px) {
  .breaker {
    min-height: 50vh;

    &::before {
      top: 50%;
      left: 5%;
      rotate: 0deg;

      width: 15vw;
      height: 10px;
    }

    &::after {
      top: 50%;
      right: 5%;
      rotate: 0deg;

      width: 15vw;
      height: 10px;
    }
  }
}
