.welcome {
  position: absolute;
  top: 0;
  left: 0;
  animation: slide 500ms ease-in-out 2500ms forwards;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100vh);
  }
}
