@use '@/components/ui/CircleLogo/mixins.scss' as Logo;

.hero-section {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  min-height: 60vh;

  .image-container {
    position: relative;
    height: 100%;

    .image {
      object-fit: cover;
    }
  }
}
