@use '@/components/ui/CircleLogo/mixins.scss' as Logo;

.hero-section {
  height: 100vh;

  .text-container {
    position: absolute;
    z-index: 10;

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;

    overflow-wrap: anywhere;

    background: transparent;
  }

  h1 {
    margin: auto 1rem;
    font-size: 3rem;
    text-align: center;
    text-shadow: 0 0 1px var(--white-500), 0 0 2px var(--white-500), 0 0 4px var(--white-500);
  }

  .image-container {
    position: relative;
    height: 100%;
  }

  .image {
    opacity: 0;
    object-fit: cover;
    transition: opacity 3s ease;

    &--active {
      opacity: 1;
    }
  }
}

@media (width > 810px) {
  .hero-section {
    h1 {
      margin: auto 2rem;
      font-size: 4.5rem;
    }
  }
}

@media (width > 1200px) {
  .hero-section {
    h1 {
      margin: auto 7rem;
      font-size: 5rem;
    }
  }
}
