.logo-outline {
  --text-radius: calc(var(--logo-width) / 2 - var(--font-size) - var(--border-size));

  user-select: none;

  position: relative;

  aspect-ratio: 1 / 1;
  width: var(--logo-width);
  height: var(--logo-width);

  border: var(--border-size) solid var(--border-color);
  border-radius: 50%;

  .logo-character {
    position: absolute;
    top: calc(50% - var(--font-size) / 2);
    left: calc(50% - var(--font-size) / 4);

    // prettier-ignore
    transform: translate(
      calc(cos(var(--degrees)) * var(--text-radius)),
      calc(sin(var(--degrees)) * var(--text-radius))
      )

      rotate(calc(var(--character-rotation-angle) + var(--degrees)));

    width: calc(var(--font-size) / 2);

    font-size: var(--font-size);
    text-align: center;
  }
}
