@use '@/components/ui/CircleLogo/mixins.scss' as Logo;

.navbar {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--navbar-height);

  backdrop-filter: blur(var(--light-blur));
}

.logo-button {
  margin-left: 1rem;
  filter: drop-shadow(0 0 5px white);
}

.hamburger-button {
  filter: drop-shadow(0 0 5px white);
}

@media (width > 810px) {
  .navbar {
    justify-content: space-around;

    nav {
      width: 65%;
    }
  }

  .logo-button {
    margin: initial;
  }

  .nav-menu {
    filter: drop-shadow(0 0 5px white);
  }
}
