@use '@/components/ui/CircleLogo/mixins.scss' as Logo;

.navbar {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: var(--navbar-heigh);

  filter: drop-shadow(0 0 1px white) drop-shadow(0 0 5px white) drop-shadow(0 0 10px white);
  backdrop-filter: blur(var(--light-blur));

  .hamburger {
    z-index: 40;
  }
}

@media (width > 810px) {
  .navbar {
    nav {
      width: 65%;
      border: 2px solid red;
    }

    .hamburger {
      display: none;
    }
  }
}
