@use '@/styles/mixins.scss' as mixins;

.project-section {
  @include mixins.section;

  h1 {
    @include mixins.page-title;
  }
}

.details-section {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid blue;
}

.project-details {
  margin: var(--margin-item-mobile) auto;

  th {
    padding-right: 1rem;
    text-align: left;
  }
}

.main-image-container,
.secondary-image-container,
.gallery-image-container {
  position: relative;
  aspect-ratio: 1 / 1;
}

.gallery-image-container {
  margin: var(--margin-item-mobile) 0;
}

@media (width > 810px) {
  .project-section {
    p {
      font-size: 1.5rem;
    }
  }

  .project-details {
    th,
    td {
      font-size: 1.5rem;
    }
  }

  .details-section {
    flex-direction: row;
  }

  .details-container {
    flex-direction: column;
    width: 40%;
  }

  .main-image {
    width: 60%;
    margin-left: 2rem;
  }

  .description-section {
    display: flex;
    flex-direction: row-reverse;
    margin: 3rem 0;

    p {
      width: 40%;
    }

    .secondary-image {
      width: 60%;
      height: auto;
      margin-right: 2rem;
    }
  }

  .gallery-image {
    aspect-ratio: 16 / 9;
    margin: 1rem 0;
  }
}

@media (width > 1200px) {
  .project-section {
    p {
      font-size: 2rem;
    }
  }

  .main-image,
  .secondary-image {
    aspect-ratio: 16 / 9;
  }

  .image-gallery {
    flex-flow: row wrap;
    justify-content: space-evenly;

    .gallery-image {
      width: 45%;
    }
  }
}
