@use '@/styles/mixins.scss' as mixins;

.project-section {
  @include mixins.section;

  h1 {
    @include mixins.page-title;
  }
}

.overview {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.secondary-image {
  margin: var(--margin-item-mobile) auto;
}

.main-image,
.secondary-image,
.gallery-image {
  position: relative;
  aspect-ratio: 1 / 1;
  max-height: 80vh;
}

.gallery-image {
  margin: var(--margin-item-mobile) auto;
}

@media (width > 810px) {
  .overview {
    flex-direction: row;
    gap: var(--margin-item-mobile);
  }

  .details {
    flex-direction: column;
    width: 40%;
  }

  .main-image {
    width: 60%;
  }

  .description {
    height: min-content;
  }

  .secondary-image {
    float: left;
    width: 60%;
    margin: 0 var(--margin-item-mobile) var(--margin-item-mobile) 0;
  }

  .gallery-image {
    aspect-ratio: 16 / 9;
  }
}

@media (width > 1200px) {
  .secondary-image {
    aspect-ratio: 16 / 9;
  }

  .image-gallery {
    display: flex;
    flex-flow: row wrap;
    gap: var(--margin-item-mobile);
    justify-content: space-evenly;

    width: 100%;

    .gallery-image {
      width: 45%;
      margin: initial;
    }
  }
}
