@use '../../CircleLogo/mixins.scss' as Logo;

.footer {
  position: fixed;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  border: 1px solid red;
}

.logo {
  @include Logo.configure(
    $logo-width: 200px,
    $text-total-characters: 15,
    $character-rotation-angle: 90deg,
    $font-size: 1rem,
    $text-spread-angle: 200deg,
    $border-size: 2px,
    $border-color: var(--secondary-500),
    $spin: true,
    $spin-duration: 30s
  );

  margin: 1rem;
}
