.details-card {
  margin: var(--margin-item-mobile) auto;

  th,
  tr {
    font-size: var(--text-body-mobile);
    text-align: left;
  }

  th {
    padding-right: 1rem;
  }
}

@media (width > 810px) {
  .details-card {
    th,
    td {
      font-size: var(--text-body-tablet);
    }
  }
}
